git+https://github.com/Norpadon/vk_async.git#egg=vk_async
git+https://github.com/Norpadon/tornado-httpclient-session.git#egg=tornado-httpclient-session
zmq
mplleaflet
coverage
tables
jupyter
ipython[notebook]
networkx
scipy
numpy
pandas
scikit-learn
matplotlib
geopy
